.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    height: calc(100vh - 100px);
    overflow-y: auto;
    width: 80%; /* Увеличьте ширину контейнера по вашему усмотрению */
    max-width: 1200px; /* Устанавливает максимальную ширину контейнера */
    margin: 0 auto; /* Центрирует контейнер по горизонтали */
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    /* Если нужно, добавьте минимальную ширину */
}

.chat-message {
    margin: 10px 0;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.chat-input-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.chat-input {
    flex-grow: 1;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
    /* Вы можете установить фиксированную ширину, если это нужно */
    min-width: 300px; /* Устанавливает минимальную ширину поля ввода */
}

.attach-button, .send-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
}

.attach-button:hover, .send-button:hover {
    color: #007bff;
}