.cargo-info-container {
  flex: 1 1 calc(25% - 2%);
  margin: 1%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Увеличиваем тень */
  background-color: #fff;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease; /* Добавляем плавный переход для тени */
}


.cargo-info-container:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); /* Эффект тени при наведении */
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.tab {
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  color: #555;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.tab:hover {
  color: #217C6F;
}

.tab.active {
  font-weight: bold;
  color: #217C6F;
  border-bottom: 2px solid #217C6F;
}

.tab-content {
  text-align: center;
}

.tab-content-comment {
  text-align: left;
}
.cargo-info-container h3 {
  margin: 10px 0;
  font-size: 18px;
}

.cargo-info-container p {
  margin: 5px 0;
  color: #555;
}

.cargo-comment {
  margin: 0;
  color: #555;
}
