/* style.css */

.phone-input {
  /*margin: 1rem 0;*/
  /*padding: 0.5rem;*/
}

.phone-input label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
  font-weight: normal;
}

.phone-input input {
  width: 100%;
  font-size: 1rem;
  outline: none;
}

.phone-input input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}

.text-danger {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
