.cars-item {
    padding: 10px;
    border: 1px solid #ddd;
    margin: 10px 0;
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.cars-font {
    font-size: 0.9rem;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.tab {
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    color: #555;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.tab:hover {
    color: #217C6F;
}

.tab.active {
    font-weight: bold;
    color: #217C6F;
    border-bottom: 2px solid #217C6F;
}

.cars-details {
    display: flex;
    flex-direction: column;
}

.cars-details-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.cars-details p {
    margin: 5px 0;
    flex: 1;
    padding: 0 10px;
}

.cars-name {
    font-weight: bold;
}

.cars-actions {
    display: flex;
    justify-content: flex-end;
}

.cars-action-button {
    padding: 10px 20px;
    background-color: #217C6F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cars-action-button:hover {
    background-color: #1a5a51;
}