html, body {
    min-width: 320px;
    margin: 0;
}

.search-input {
    margin-right: 10px;
}

.top-menu li a::after{
    content: '';
    display: block;
    width: 100%;
    background-color: #ffffff;
    height: 1px;
    transition: all .3s;
    transform: scale(0);
}

.top-menu li a:hover::after{
    transform: scale(1);
}

.App{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    min-height: 100vh;
}

main {
  flex: 1;
}

.form-margin {
    margin-bottom: 40px;
}